
tr td{
    border: solid black 2px;
    text-align: center;
    width: 30px;
}
tr td{
    border: solid black 2px;
    text-align: center;
    width: 30px;
}

.fretField{
    background-color: rgb(172, 119, 88);
    color: whitesmoke;

}
.fretField:hover{
    background-color: rgb(230, 176, 144);
    color: black;
/* font-weight: bold; */
}

.tdNoBorder{
    border: none;
}


.boldNumeration{
    font-weight: bold;
    border-top: solid black 3px;
}


.zeroFret{
    border-right: solid black 10px;
}


.guitarTabFont {
  font-family: monospace;
  white-space: pre; 
}

.disabledNote{
    background-color: gray;
}
