
tr td{
    border: solid black 2px;
    text-align: center;
    width: 35px;
}

.fretField{
    background-color: rgb(67, 61, 28);
    color: whitesmoke;

}
.fretField:hover{
    background-color: rgb(95, 86, 36);
    color: white;
    font-weight: bold;
}

.tdNoBorder{
    border: none;
}


.boldNumeration{
    font-weight: bold;
    border-top: solid black 3px;
}


.zeroFret{
    border-right: solid black 10px;
}


.guitarTabFont {
  font-family: monospace;
  white-space: pre; 
}

.disabledNote{
    background-color: rgb(148, 141, 101);
}


/* copilot dolje */
#harmonicaKey optgroup[label="Najčešći"] {
    font-weight: bold;
    color: black; 
}

#harmonicaKey optgroup[label="Ostali"] {
    font-style: italic;
    padding: 20px;
}

